@tailwind base;
@tailwind components;
@tailwind utilities;


.custom_container {
  @apply 2xl:w-[1100px] xl:w-[1100px] lg:w-[80%] md:w-[90%] w-full mx-auto md:px-0 px-[20px] 
}


.content_container {
  @apply 2xl:w-[1100px] xl:w-[1100px] lg:w-[80%] md:w-[90%] w-full mx-auto md:px-0 px-[20px] 
}

.custom_container1 {
  @apply 2xl:w-[1200px] xl:w-[1200px] lg:w-[80%] md:w-[90%] w-full mx-auto md:px-0 px-[20px] 
}


@font-face {
  font-display: inter;
  font-family: "inter-regular";
  src: url("/src/app/fonts/static/Inter_18pt-Light.ttf");
}

@font-face {
  font-display: inter;
  font-family: "inter-bold";
  src: url("/src/app/fonts/static/Inter_18pt-Bold.ttf");
}


*{
  font-family: "inter";
}